body,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
  margin: 0;
}
html {
  font: normal 14px / 20px Helvetica, Arial, "Microsoft YaHei", "微软雅黑", sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  font-family: Helvetica, Arial, "Microsoft YaHei", "微软雅黑", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
}
button,
input,
textarea {
  padding: 8px;
  color: inherit;
  font: inherit;
  border: none;
  vertical-align: top;
  background: #333;
  box-sizing: border-box;
}
button:focus,
input:focus,
textarea:focus {
  outline: none;
  outline-offset: 0;
}
input[type='checkbox'],
input[type='radio'] {
  margin: 0;
  vertical-align: middle;
}
label,
button,
input[type='checkbox'],
input[type='radio'],
input[type='submit'] {
  cursor: pointer;
}
input[type="text"],
input[type="password"],
textarea {
  border: 1px solid #999;
}
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
  border: 1px solid #ff1240;
}
a {
  text-decoration: none;
}
ul {
  padding: 0;
  list-style: none;
}
i {
  font-style: normal;
}
body {
  position: relative;
  background: #232323;
}
::selection {
  background-color: #ff3e5e;
  color: #FFF;
}
button,
input[type="submit"] {
  background: #ff1240;
}
button:hover,
input[type="submit"]:hover {
  background: #de002b;
}
textarea {
  resize: none;
  width: 100%;
}
a {
  color: #fff;
}
a.a-common {
  color: #ff3e5d;
}
a.a-common:hover {
  text-decoration: underline;
}
a.a-common-2 {
  color: #ff2145;
}
a.a-common-2:hover {
  color: #ff1240;
}
span.btn-common,
button.btn-common {
  background: #ff1240;
}
span.btn-common:hover,
button.btn-common:hover {
  background: #de002b;
}
.container-full {
  width: 100%;
  box-sizing: border-box;
}
.container-full:before,
.container-full:after {
  content: "";
  display: table;
}
.container-full:after {
  height: 0;
  clear: both;
}
.container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}
.container:before,
.container:after {
  content: "";
  display: table;
}
.container:after {
  height: 0;
  clear: both;
}
.p-container {
  padding: 0 35px;
}
.article {
  margin-right: 380px;
  box-sizing: border-box;
}
.aside {
  float: right;
  width: 350px;
  box-sizing: border-box;
}
.box {
  position: relative;
  margin-bottom: 40px;
  padding: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #0f0f0f;
  box-sizing: border-box;
}
.clearfix:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
}
.my-info {
  padding: 15px;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 1px 1px 5px 0 #000000;
}
.my-info .head-portrait {
  position: relative;
  width: 100%;
  height: 150px;
  background: url("../img/cat.jpg") no-repeat;
  background-size: 100%;
}
.my-info .me-stage-name {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  text-align: center;
  font-size: 26px;
  font-family: '微软雅黑', sans-serif;
  line-height: 40px;
}
.my-info .me-word {
  width: 100%;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  margin-top: 5px;
}
.my-info .me-word .word-text {
  display: table;
  margin: 0 auto;
  text-align: left;
}
.my-info .basic-info {
  margin-top: 20px;
}
.main {
  margin-top: 50px;
}
.main .ctn-warp {
  margin-top: 60px;
}
.main .dir-title {
  position: absolute;
  left: -16px;
  top: 18px;
  width: 100px;
  height: 30px;
  text-align: right;
  line-height: 30px;
  padding-right: 15px;
  border-radius: 0 3px 3px 0;
  background: #ff1240;
  box-sizing: border-box;
}
.main .dir-title:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -16px;
  border: 8px solid transparent;
  border-top-color: #6f0016;
  border-right-color: #6f0016;
}
.main .article-header {
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 90px;
}
.main .article-header .dir-list {
  height: 30px;
}
.main .article-header .dir-list .dir-item {
  float: left;
  padding: 0 8px;
  line-height: 30px;
  position: relative;
}
.main .article-header .dir-list .dir-item a:hover {
  text-decoration: underline;
}
.main .article-header .dir-list .dir-item.clear-after:after {
  display: none;
}
.main .article-header .dir-list .dir-item:after {
  content: '';
  position: absolute;
  right: 0;
  top: 6px;
  display: block;
  width: 1px;
  height: 18px;
  background: #ff1240;
}
.main .art-title {
  font-size: 25px;
  line-height: 56px;
  text-align: center;
}
.main .art-info {
  text-align: center;
  margin-bottom: 80px;
}
.main .art-intro,
.main .art-content {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1px;
}
.main .art-intro p,
.main .art-content p {
  text-indent: 32px;
  margin: 8px 0;
}
.main .art-content {
  overflow: hidden;
}
.main .art-foot {
  margin-top: 30px;
  margin-bottom: 5px;
  background: #0f0f0f;
}
.main .art-foot .link {
  margin-top: 10px;
}
.main .art-foot .share {
  margin-top: 10px;
}
.main .art-foot .share a {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin: 0 5px;
  line-height: 35px;
  font-size: 18px;
  text-align: center;
  border: 1px solid #ff1240;
  border-radius: 50%;
}
.main .art-foot .share a.fa-weibo {
  color: #ff763b;
  border-color: #ff763b;
}
.main .art-foot .share a.fa-weibo:hover {
  color: #FFFFFF;
  background-color: #ff763b;
}
.main .art-foot .share a.fa-wechat {
  color: #7bc549;
  border-color: #7bc549;
}
.main .art-foot .share a.fa-wechat:hover {
  color: #FFFFFF;
  background-color: #7bc549;
}
.main .art-foot .share a.fa-qq {
  color: #56b6e7;
  border-color: #56b6e7;
}
.main .art-foot .share a.fa-qq:hover {
  color: #FFFFFF;
  background-color: #56b6e7;
}
.main .art-foot .share a.fa-star {
  color: #FDBE3D;
  border-color: #FDBE3D;
}
.main .art-foot .share a.fa-star:hover {
  color: #FFFFFF;
  background-color: #FDBE3D;
}
.main .art-foot .share a.fa-linkedin {
  color: #55acee;
  border-color: #55acee;
}
.main .art-foot .share a.fa-linkedin:hover {
  color: #FFFFFF;
  background-color: #55acee;
}
.main .art-foot .share a.fa-plus {
  color: #ff1240;
  border-color: #ff1240;
}
.main .art-foot .share a.fa-plus:hover {
  color: #FFFFFF;
  background-color: #ff1240;
}
.main .art-foot .support {
  margin-top: 15px;
  text-align: center;
}
.main .art-foot .support a {
  display: inline-block;
  padding: 0 5px;
  border-radius: 3px;
  margin: 0 15px;
  background: #ff1026;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
.header .nav {
  background: rgba(255, 18, 64, 0.8);
}
.header .nav .logo {
  float: left;
  margin-top: 6px;
  margin-right: 15px;
}
.header .nav .logo a {
  display: block;
  height: 38px;
  width: 38px;
  background: url("../img/logo.png") no-repeat;
  background-size: 38px 38px;
  font-size: 26px;
  font-family: Arial, sans-serif;
  text-indent: -9999em;
}
.header .nav .menu {
  float: left;
}
.header .nav .menu .list {
  float: left;
  position: relative;
}
.header .nav .menu .list a {
  display: block;
  padding: 0 15px;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  transition: background .3s;
}
.header .nav .menu .list a:hover,
.header .nav .menu .list a.active {
  background: #b90024;
}
.header .nav .menu .list .subnav {
  display: none;
  position: absolute;
  background: #b90024;
  overflow: hidden;
}
.header .nav .menu .list .subnav a {
  height: 35px;
  line-height: 35px;
}
.header .nav .menu .list .subnav a:hover {
  background: #ff1651;
}
.header .nav .search {
  float: right;
  margin-top: 10px;
}
.header .nav .search:hover .search-submit label {
  transform: rotateY(180deg);
}
.header .nav .search input[type='text'] {
  visibility: hidden;
  float: left;
  width: 0;
  padding: 0;
  height: 32px;
  font-size: 14px;
  line-height: 23px;
  color: #fff;
  border: 0;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  transition: all .5s;
}
.header .nav .search input[type='text']:focus {
  visibility: visible;
  width: 190px;
  padding: 5px;
}
.header .nav .search:hover input {
  visibility: visible;
  width: 190px;
  padding: 5px;
}
.header .nav .search .search-submit {
  float: left;
  padding: 0;
  background: none;
  font-size: 32px;
  color: #fff;
  margin-right: 10px;
}
.header .nav .search .search-submit label {
  display: block;
  transition: all .5s;
}
.header .nav .login {
  float: right;
  margin-top: 10px;
}
.header .nav .login .btn {
  float: left;
  height: 30px;
  padding: 0 15px;
  margin-left: 10px;
  line-height: 30px;
  border-radius: 4px;
  box-shadow: 0 1px 5px 0 #000000;
  transition: background .5s;
}
.header .nav .login .btn.sign-in {
  background: #fb275b;
}
.header .nav .login .btn.sign-in:hover {
  background: rgba(251, 39, 91, 0.8);
}
.header .nav .login .btn.sign-up {
  background: #0097ff;
}
.header .nav .login .btn.sign-up:hover {
  background: rgba(0, 151, 255, 0.8);
}
.footer {
  background: #0f0f0f;
}
.footer .foot-ct {
  padding-top: 15px;
  padding-bottom: 15px;
}
.footer .foot-ct .my-social {
  width: 25%;
  float: left;
}
.footer .foot-ct .foot-info {
  width: 40%;
  float: left;
}
.footer .foot-ct .foot-info p {
  text-align: center;
}
.footer .foot-ct .foot-links {
  width: 25%;
  float: right;
}
.footer .foot-ct .foot-links .links-list {
  float: left;
  margin-right: 30px;
}
.mask {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0.9;
  transition: all .3s;
}
.login-box {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  border: 1px solid #ff1240;
  border-radius: 3px;
  transform: translate(-50%, -50%);
  background: #000000;
  z-index: 10000;
}
.login-box .login-header,
.login-box .login-footer {
  height: 40px;
  line-height: 40px;
  border-radius: 3px 3px 0 0;
  background: #0f0f0f;
}
.login-box .login-title {
  float: left;
  font-size: 16px;
  margin-left: 15px;
}
.login-box .login-title i {
  font-size: 24px;
  margin-right: 10px;
  vertical-align: sub;
}
.login-box .login-close {
  float: right;
  cursor: pointer;
  margin-right: 15px;
  font-size: 30px;
  transition: transform .3s;
}
.login-box .login-close:hover {
  transform: rotate(180deg);
}
.login-box .login-other {
  float: left;
  margin-left: 15px;
}
.login-box .login-other i {
  margin: 0 8px;
  font-size: 16px;
}
.login-box .login-reg {
  float: right;
  margin-right: 15px;
}
.login-box .login-form {
  padding: 25px;
}
.login-box .login-form .login-message {
  padding: 3px 0;
  margin-bottom: 15px;
  color: #963200;
  text-align: center;
  border: 1px solid #ffcc01;
  background: #f3e098;
}
.login-box .login-form .login-message i {
  margin-right: 5px;
  color: #fb3200;
}
.login-box .login-form .inp {
  position: relative;
  margin-bottom: 20px;
}
.login-box .login-form .inp label.l-user {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  font-size: 24px;
  text-align: center;
  line-height: 40px;
  border-radius: 3px 0 0 3px;
  background: #ff1240;
}
.login-box .login-form .inp input.i-user {
  width: 300px;
  height: 40px;
  padding: 5px;
  padding-left: 50px;
  vertical-align: middle;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}
.login-box .login-form .inp .pwd-reset {
  float: right;
}
.login-box .login-form .sub input {
  width: 300px;
  cursor: pointer;
  color: inherit;
  font-size: 16px;
}
.back {
  display: none;
  opacity: 0;
  filter: alpha(opacity=0);
  position: fixed;
  right: 68px;
  bottom: 68px;
  width: 40px;
  height: 40px;
  border: 1px solid #ff1240;
  background: #0f0f0f;
  cursor: pointer;
  transition: opacity .5s, filter .5s, bottom 3s;
}
.back i {
  color: #ff2c45;
  font-size: 30px;
  line-height: 40px;
}
.social {
  margin-top: 20px;
}
.social a {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 22px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #666666;
  border-radius: 50%;
  background: rgba(255, 18, 64, 0.6);
  transition: background .5s, transform .5s;
}
.social a:before {
  content: '';
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 0;
  border: 6px solid transparent;
  border-top-color: rgba(0, 0, 0, 0.8);
  transform: translate(-50%, -5px);
  transition: all .5s;
}
.social a:after {
  content: attr(title);
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 0;
  min-width: 30px;
  padding: 0 8px;
  height: 22px;
  font-size: 12px;
  line-height: 22px;
  text-align: center;
  white-space: nowrap;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.8);
  transform: translate(-50%, -26px);
  transition: all .5s;
}
.social a:hover {
  background: #b90024;
  transform: scale(1.3);
  z-index: 1;
}
.social a:hover:before {
  opacity: 1;
}
.social a:hover:after {
  opacity: 1;
}
