.banner {
  position: relative;
  height: 700px;
  background: url("../img/banner1.jpg") no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position-y: 0;
}
.banner .welcome {
  position: absolute;
  padding-top: 50px;
  overflow: hidden;
}
.banner .welcome .my-intro {
  padding: 0 15px;
  text-shadow: 3px 3px 5px #000;
  margin-right: 350px;
}
.banner .welcome .my-intro .title {
  margin-bottom: 30px;
  font-size: 60px;
  line-height: 80px;
}
.banner .welcome .my-intro .intro {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 1px;
}
.main {
  margin-top: 60px;
}
.main .article-warp .article-box {
  position: relative;
  transition: box-shadow 0.5s, height 0.3s;
}
.main .article-warp .article-box .dir-title {
  top: 110px;
}
.main .article-warp .article-box .art-time {
  position: absolute;
  top: -20px;
  left: -25px;
  width: 45px;
  height: 45px;
  border: solid #ff1240;
  border-top-width: 30px;
  border-right-width: 0px;
  border-bottom-width: 1px;
  border-left-width: 25px;
  border-radius: 0 225px 68px 183px;
}
.main .article-warp .article-box .art-time .year {
  position: absolute;
  left: 16px;
  top: 24px;
  font-family: Georgia, serif;
  font-size: 33px;
  color: #ff1240;
  font-style: oblique;
}
.main .article-warp .article-box .art-time .month {
  position: absolute;
  left: -24px;
  top: -23px;
  font-size: 32px;
  letter-spacing: -1px;
}
.main .article-warp .article-box .art-time .month-cn {
  position: absolute;
  top: -18px;
  left: 13px;
  font-size: 14px;
}
.main .article-warp .article-box .art-time .day {
  position: absolute;
  left: -19px;
  top: 0px;
  font-size: 15px;
}
.main .article-warp .article-box .art-btn-group {
  margin: 15px 0;
  text-align: center;
}
.main .article-warp .article-box .art-btn-group .btn {
  margin: 0 15px;
  padding: 3px 8px;
  color: #fff;
  font-family: Helvetica, Arial, "Microsoft YaHei", "微软雅黑", sans-serif;
  font-size: 14px;
  border-radius: 3px;
  background: #ff1240;
}
.main .article-warp .article-box:hover {
  box-shadow: 1px 1px 3px 0 #000;
}
.main .aside-warp .aside-header .hot-tag {
  margin-top: 48px;
}
.main .aside-warp .aside-header .hot-tag li {
  float: left;
}
.main .aside-warp .aside-box .select {
  margin-top: 48px;
}
.main .aside-warp .aside-box .select .select-item i {
  margin-right: 5px;
}
.main .article-loading {
  margin-right: 380px;
  margin-bottom: 30px;
}
.main .article-loading button {
  display: block;
  width: 100%;
  padding: 5px 0;
  text-align: center;
  border-radius: 3px;
  background: #ff1240;
}
