.main .related .related-title {
  font-size: 16px;
  line-height: 30px;
}
.main .related ul li {
  margin: 5px 0;
  width: 50%;
  float: left;
}
.main .message .art-title {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 25px;
  text-align: left;
}
.main .message .comment-info {
  margin-top: 15px;
}
.main .message .comment-info input[type="text"] {
  width: 210px;
  float: left;
  margin-right: 15px;
}
.main .message .comment-submit {
  margin-top: 15px;
}
.main .message .comment-submit input[type="submit"] {
  width: 100%;
}
